.settings-title
{
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.settings-title-category
{
    color: gray;
    font-size: 18px;
    text-align: center;
    letter-spacing: 3px;
}

.settings-categ-list
{
    margin-top: 50px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: thin solid gray;
    border-top: thin solid gray;
}
.settings-categ
{
    border: none;
    font-size: 20px;
    width: 300px;
    padding: 20px 0;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.settings-categ:hover
{
    background-color: #c44fffb0;
    color: rgb(255, 255, 255);
}

.settings-bottom
{
    margin-top: auto;
    margin-bottom: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.version
{
    font-size: 15px;
    padding: 5px 10px;
    color: gray;
    margin-right: auto;
}

.settings-back-btn
{
    position: absolute;
    margin-right: 500px;
    margin-top: 25px;
    background-color: transparent;
    font-size: 50px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.settings-back-btn:hover
{
    color: #a431dd;
}

.settings-edit-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: auto;
}