@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comfortaa";
    scroll-behavior: smooth;
}

::selection
{
    background-color: rgba(36, 207, 150, 0.5);
}
::-webkit-scrollbar
{
    display: none;
}

html, body
{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: rgb(235, 235, 235);
}

.cover-image
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    background-color: rgba(0, 0, 0, 0.4);
    background-image: url(./images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    user-select: none;
    -webkit-user-drag: none;
}
.cover-image-title
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 2.5vw;
    font-size: 15vw;
    font-weight: bolder;
    color: white;
    margin-top: auto;
}
.cover-image-title img
{
    width: auto;
    height: 10vw;
}
.cover-image-text
{
    font-size: 5vw;
    font-weight: lighter;
    color: rgb(194, 194, 194);
}
.cover-image-scroll-btn
{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: transparent;
    border-radius: 50%;
}
.cover-image-scroll-btn::after
{
    content: "";
    width: 10px;
    height: 50px;
    position: absolute;
    margin-left: 30px;
    background-color: aquamarine;
    transform: rotate(45deg);
    border-top-right-radius: 12.5px;
    transition: 0.2s ease-in-out;
}
.cover-image-scroll-btn::before
{
    content: "";
    width: 10px;
    height: 50px;
    position: absolute;
    margin-right: 30px;
    background-color: aquamarine;
    transform: rotate(-45deg);
    border-top-left-radius: 12.5px;
    transition: 0.2s ease-in-out;
}
.cover-image-scroll-btn:hover::after, .cover-image-scroll-btn:hover::before
{
    height: 55px;
}
.cover-image-scroll-btn:hover::after
{
    margin-left: 32.5px;
}
.cover-image-scroll-btn:hover::before
{
    margin-right: 32.5px;
}

header
{
    width: 100%;
    height: 10vh;
    background-color: rgb(36, 207, 150);
    position: sticky;
    top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.home-link
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: auto;
    margin-left: 15px;
    font-size: 60px;
    color: rgb(255, 255, 255);
}
.home-link img
{
    width: auto;
    height: 45px;
}
.h-nav
{
    margin-left: auto;
    margin-right: 15px;
}
.nav-list
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nav-link
{
    color: white;
    font-size: 18px;
    font-weight: lighter;
    background-color: rgb(32, 180, 131);
    padding: 15px 12.5px;
    border-radius: 30px;
    transition: 0.2s ease-in-out;
}
.nav-link:hover
{
    background-color: rgb(16, 167, 116);
}

.section
{
    width: 100%;
    padding-top: 11vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}
.section-title
{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    font-size: 40px;
    text-align: center;
}
.section-title::after
{
    content: "";
    height: 5px;
    width: 40%;
    background-color: rgb(17, 170, 119);
}

.slider
{
    width: 100%;
    height: 70vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-image: url(./images/slide1.jpg);
}
.slider-btn
{
    width: 80px;
    height: 80px;
    background-color: rgba(24, 187, 133, 0.4);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 50px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
.slider-btn:hover
{
    background-color: rgba(28, 167, 120, 0.4);
}
.slider-btn:first-child
{
    margin: auto;
    margin-left: 10px;
}
.slider-btn:last-child
{
    margin: auto;
    margin-right: 10px;
}


footer
{
    width: 100%;
    height: auto;
    background-color: rgb(36, 207, 150);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


.breeze
{
    font-family: "Dancing Script";
}
a, button, li, ul
{
    text-decoration: none;
    list-style: none;
    outline: none;
}